.title {
	font-weight: 600;
	color: #B4B4BD;
}

.chart
{
    position: relative;

    height: 279px;
    width : 416px;
}

.input-group {
	height:44px;
	width:392px;
}


.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/*3 dots*/
.test:after {
  content: '\2807';
  color: #2e2e2e
}


